<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.5.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.0.9" targetFramework="net45" developmentDependency="true" />
  <package id="morelinq" version="2.4.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net45" />
</packages>